{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block header %}
<a class="nav-link disabled" href="#">STUDENT</a>
<a class="nav-link" href="{% url 'student:login'  %}">GO BACK</a>
{% endblock header %}
{% block content %}
<div class="row justify-content-center">
    {% if form %}
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h4>Enter Data</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for f in form %}
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ f.name|title }}
                        </label>
                        <div class="col-md-6">
                            {{ f }}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="margin-left:240px">
                        Save data
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}