{% extends "base.html" %}

{% block header %}
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'student:logout' %}">LOGOUT</a>
{% endif %}
<a class="nav-link" href="{% url 'student:profile' %}">PROFILE</a>

{% endblock header %}

{% block content %}

{% for company in companys %}
<h5>{{ company.name }}</h5>
{% for post in posts %}
{% if post.company == company %}
<p>{{ post.postTechnology }} developer id required before {{ post.postExpiringDate }} </p>
<form action="" method="GET" class="form-inline">
    <input type="hidden" value="{{ student }}" name="studentid" />
    <input type="hidden" value="{{ post.id }}" name="postid" />
    {% if post.id in appliedPosts %}
    {% if post.postExpiringDate >= today %}
    <input type="submit" class="btn btn-warning" value="applied" name="applied" disabled>
    {% else %}
    <input type="submit" class="btn btn-warning" value="show result" name="show result">
    {% endif %}
    {% else %}
    <input type="submit" class="btn btn-warning" value="apply" name="apply">
    {% endif %}
</form>
{% endif %}
{% endfor %}

{% endfor %}

{% endblock content %}