{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
<a class="nav-link disabled" href="#">STUDENT</a>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> -->
<style>
body{
    background-image: url("{% static 'images/background.jpg' %}")
}
</style>
{% endblock header %}

{% block content %}
<div class="login-form">
    <form method="POST" action="">
        {% csrf_token %}
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="d-flex justify-content-center links">
                Don't have an account? <a href="{% url 'student:signup' %}" class="ml-2">Sign Up</a>
        </div>
    </form>
</div>
{% endblock content %}