{% extends "base.html" %}
{% block header %}
<a class="nav-link disabled" href="#">STUDENT</a>

<a class="nav-link" href="{% url 'student:home'  %}">HOME</a>
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'student:logout'  %}">LOGOUT</a>
{% endif %}
{% endblock header %}


{% block content %}
{% for field in fields %}

{% if field.0 == 'name' %}
<h1 class="display-4">{{ field.1 }}</h1>
{% else %}
<hr class="my-4">
<p class="lead"><span>{{ field.0|title }}</span> : <span>{{ field.1 }}</span></p>
{% endif %}

{% endfor %}
{% endblock content %}