{% extends "base.html" %}

{% block header %}
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'student:logout'  %}">LOGOUT</a>
{% endif %}
<a class="nav-link" href="{% url 'student:home'  %}">HOME</a>
<a class="nav-link" href="{% url 'student:editprofile'  %}">EDIT PROFILE</a>

{% endblock header %}
{% block content %}
{% if student.profileCompleted %}

{% for field in fields %}
{% if field.0 == "picture" %}
<img src="{{ field.1.url }}">
{% elif 'Marks' in field.0 %}
<p><span>{{ field.0 }}</span> : <span>{{ field.1 }}</span></p>

{% else %}
<p><span>{{ field.0 }}</span> : <span>{{ field.1 }}</span></p>
{% endif %}
{% endfor %}

{% else %}
<p>Please complete your profile</p>
{% endif %}

{% endblock content %}