{% extends "base.html" %}

{% block header %}
<a class="nav-link disabled" href="#">STUDENT</a>
<a class="nav-link" href="{% url 'student:home'  %}">HOME</a>

<a class="nav-link" href="{% url 'student:profile' %}">PROFILE</a>
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'student:logout' %}">LOGOUT</a>
{% endif %}
{% endblock header %}

{% block content %}

{% if message %}
<div class="alert alert-success mt-3" role="alert">
    {{ message }}
</div>
{% endif %}
{% if errormessage %}
<div class="alert alert-danger mt-3" role="alert">
    {{ errormessage }}
</div>
{% endif %}


{% endblock content %}