{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
<a class="nav-link disabled" href="#">COMPANY</a>
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'company:home' %}">HOME</a>
{% endif %}

{% endblock header %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">ADD POST</button>
    <button type="reset" class="btn btn-danger">RESET</button>
</form>
{% endblock content %}