{% extends "base.html" %}

{% block header %}
<a class="nav-link disabled" href="#">COMPANY</a>
{% if user.is_authenticated %}

<a class="nav-link" href="{% url 'company:home' %}">HOME</a>
<a class="nav-link" href="{% url 'company:logout' %}">LOGOUT</a>
{% endif %}


{% endblock header %}

{% block content %}
{% if students %}
{% for student in students %}
{% if student.firstName %}
<div class="card mt-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ student.firstName }} {{ student.lastName }}</h5>
        <a href="#" class="btn">
            <form action="#" method="GET" class="form-inline">
                <input type="hidden" value="{{ student.id }}" name="studentid" />
                <input type="submit" class="btn btn-info" value="viewprofile" name="viewprofile">
            </form>
        </a>
        <a href="#" class="btn disabled">
            <form action="#" method="GET" class="form-inline">
                <input type="hidden" value="{{ student.id }}" name="studentid" />
                <input type="submit" class="btn btn-info" value="select" name="select">
            </form>
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
    No students applied
</div>
{% endif %}

{% endblock content %}