{% extends "base.html" %}

{% block header %}
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'company:logout' %}">LOGOUT</a>
<a class="nav-link" href="{% url 'company:profile' %}">PROFILE</a>
<a class="nav-link" href="{% url 'company:addpost' %}">ADD POST</a>
{% endif %}


{% endblock header %}

{% block content %}

{% if posts %}
{% for index, post in posts %}

<p><span>{{ index|add:"1" }}. {{ post.postTechnology }} expiring on {{ post.postExpiringDate }} </span></p>

<form action="#" method="GET" class="form-inline">
    <input type="hidden" value="{{ post.id }}" name="postid" />
    <input type="submit" class="btn btn-danger" value="delete" name="delete">
</form>
<br>
<form action="#" method="GET" class="form-inline">
    <input type="hidden" value="{{ post.id }}" name="postid" />
    <input type="submit" class="btn btn-info" value="applied students" name="appliedstudents">
</form>
<br>
{% endfor %}
{% else %}
<p>no active posts</p>
{% endif %}
{% endblock content %}