{% extends "base.html" %}

{% block header %}
<a class="nav-link disabled" href="#">COMPANY</a>
{% if user.is_authenticated %}

<a class="nav-link" href="{% url 'company:profile' %}">PROFILE</a>
<a class="nav-link" href="{% url 'company:addpost' %}">ADD POST</a>
<a class="nav-link" href="{% url 'company:logout' %}">LOGOUT</a>
{% endif %}


{% endblock header %}

{% block content %}
{% if posts %}
{% for index, post in posts %}



<div class="card mt-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ post.postTechnology|upper }} developer required</h5>
        <h6 class="card-subtitle mb-2 text-muted">Expires : {{ post.postExpiringDate }}</h6>
        <a href="#" class="btn">
            <form action="#" method="GET" class="form-inline">
                <input type="hidden" value="{{ post.id }}" name="postid" />
                <input type="submit" class="btn btn-danger" value="delete" name="delete">
            </form>
        </a>
        <a href="#" class="btn">
            <form action="#" method="GET" class="form-inline">
                <input type="hidden" value="{{ post.id }}" name="postid" />
                <input type="submit" class="btn btn-info" value="applied students" name="appliedstudents">
            </form>
        </a>
        <a href="#" class="btn">
            <form action="#" method="GET" class="form-inline">
                <input type="hidden" value="{{ post.id }}" name="postid" />
                <input type="submit" class="btn btn-dark" value="edit post" name="editpost">
            </form>
        </a>
    </div>
</div>

{% endfor %}
{% else %}
<p>no active posts</p>
{% endif %}

{% endblock content %}